<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input
            type="text"
            id="item-name"
            required
            class="form-control"
          [ngModel]="item.name"
          name="name">
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-quantity">Quantity</label>
          <input
            type="text"
            id="item-quantity"
            required
            class="form-control"
          [ngModel]="item.quantity"
          name="quantity">
        </div>
      </div>
      {{ item | json }}
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="bAdd" [disabled]="!f.valid">Add</button>
          <div *ngIf="!bAdd">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
            <button class="btn btn-danger" type="button" (click)="onDelete()">Delete Item</button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
